
*.iml
.gradle
.idea
.kotlin
.DS_Store
build
*/build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/
*.jks
*yarn.lock
iosApp/iosApp.xcodeproj
/iosApp/iosApp.xcworkspace/xcshareddata/swiftpm/Package.resolved
/iosApp/iosApp.xcodeproj/project.pbxproj
.claude
/nul
iosApp/Podfile.lock
iosApp/iosApp.xcodeproj/project.pbxproj
iosApp/SourcePackages/
*.aab
hs_err_pid*.log
*.hprof
