<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144673484603-cufl4rifjhar5g918kskbe8td42jt6tb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144673484603-cufl4rifjhar5g918kskbe8td42jt6tb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>144673484603-pe9k2pi4a8fe1rt0cnbik2bohu5iumn9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyApvbuowFK6CO5nCbHwqykCqNNjEHHQ2IE</string>
	<key>GCM_SENDER_ID</key>
	<string>144673484603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blink.romchi</string>
	<key>PROJECT_ID</key>
	<string>romchi-multiplatform</string>
	<key>STORAGE_BUCKET</key>
	<string>romchi-multiplatform.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144673484603:ios:ab04e5e57f60743b5dd11e</string>
</dict>
</plist>